{% extends "base.html" %}
{% block title %} Create Ticket {% endblock %}
{% block content %}
  <form method="POST" class="form">
    <h3>Create a Ticket</h3>

    <label for="subject">Subject:</label>
    <input type="text" id="subject" name="subject" required />

    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea>

    <label for="status">Status:</label>
    <select id="status" name="status" required>
      <option value="" disabled selected>Select a Status</option>
      <option value="Open">Open</option>
      <option value="In Progress">In Progress</option>
      <option value="Closed">Closed</option>
    </select>

    <label for="priority">Priority:</label>
    <select id="priority" name="priority" required>
      <option value="" disabled selected>Select a Priority</option>
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select>

    <label for="estimated_time">Estimated Time (in hours):</label>
      <input type="number" id="estimated_time" name="estimated_time" step="0.5" min="1" required>

    <div class="btn-group">
      <a href="{{ url_for('home.home') }}" class="btn btn-secondary">Cancel</a>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
{% endblock %}
