{% extends "base.html" %}
{% block title %} Edit Profile {% endblock %}
{% block content %}
    <form method="POST" class="form">
        <h3>Edit Profile</h3>
  
        <label for="forename">Forename:</label>
        <input type="text" id="forename" name="forename" value="{{ user.forename }}" required>

        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" value="{{ user.surname }}" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ user.email }}" required readonly>

        <label>Current Password (required to change password):</label>
        <input type="password" name="current_password">

        <label>New Password:</label>
        <input type="password" name="password">

        <label>Confirm New Password:</label>
        <input type="password" name="password_confirm">

        <div class="btn-group">
            <a href="{{ url_for('home.home') }}" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock %}
