{% extends "base.html" %}
{% block title %} Help Desk Home {% endblock %}

{% block content %}
  <h1 class="page-title">Your Tickets</h1>

  <div class="btn-group">
    <a href="{{ url_for('tickets.create_ticket') }}" class="btn btn-primary">Create New Ticket</a>
  </div>

  <br>

  {% if tickets %}
    <div class="list-group">
      {% for ticket in tickets %}
        <div class="ticket-card ticket-card--list">
          <div class="ticket-content">
            <h2>{{ ticket.subject }}</h2>
            <p>Status: {{ ticket.status }}</p>
            <p>Priority: {{ ticket.priority }}</p>
          </div>
          <a href="{{ url_for('tickets.ticket_details', ticket_id=ticket.id) }}" class="btn btn-primary">View</a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="no-tickets">No tickets are associated with this user.</p>
  {% endif %}
{% endblock %}
