{% extends "base.html" %} {% block title %} Profile {% endblock %} {% block
content %}
<h2>Profile</h2>
<div class="form">
  <p><strong>Forename:</strong> {{ user.forename }}</p>
  <p><strong>Surname:</strong> {{ user.surname }}</p>
  <p><strong>Email Address:</strong> {{ user.email }}</p>
  <p><strong>Account Type:</strong> {{ user.account_type }}</p>
</div>
<br />
<div class="btn-group">
  <a href="{{ url_for('home.home') }}" class="btn btn-group btn-secondary"
    >Back</a
  >
</div>
{% endblock %}
