{% extends "base.html" %} {% block title %} Ticket Details {% endblock %} {%
block content %}
<h2>Ticket Details</h2>

<div class="form">
  <p><strong>Subject:</strong> {{ ticket.subject }}</p>
  <p><strong>Description:</strong> {{ ticket.description }}</p>
  <p><strong>Status:</strong> {{ ticket.status }}</p>
  <p><strong>Priority:</strong> {{ ticket.priority }}</p>
  <p><strong>Estimated Time (in hours):</strong> {{ ticket.estimated_time }}</p>
  <p>
    <strong>Date Created:</strong> {{ ticket.date_created.strftime('%d-%m-%Y
    %H:%M:%S') }}
  </p>
  <p>
    <strong>Date Updated:</strong> {{ ticket.date_updated.strftime('%d-%m-%Y
    %H:%M:%S') if ticket.date_updated else "Never" }}
  </p>
  {% if current_user.account_type == 'Administrator' %}
  <p>
    <strong>Created By:</strong> {{ ticket.user.forename }} {{
    ticket.user.surname }}
  </p>
  {% endif %}
</div>
<br />

<div class="btn-group">
  <a href="{{ url_for('home.home') }}" class="btn btn-group btn-secondary"
    >Back</a
  >

  {% if current_user.account_type == 'Administrator' %}
  <form
    method="POST"
    class="btn-form"
    action="{{ url_for('tickets.delete_ticket', ticket_id=ticket.id) }}"
    onsubmit="return confirm('Are you sure you want to delete this ticket?');"
  >
    <button type="submit" class="btn btn-group btn-danger">Delete</button>
  </form>
  {% endif %}

  <a
    href="{{ url_for('tickets.edit_ticket', ticket_id=ticket.id) }}"
    class="btn btn-group btn-primary"
    >Edit</a
  >
</div>

{% endblock %}
